.line{
    height: 8px;
    width: 30%;
    background-color: aquamarine;
    margin: auto;
}
body{
    text-align: center;
    color: rgb(42, 97, 100);
    background-color: rgb(74, 168, 168);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}